<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Email Verification</title>
	</head>
	<body>
		<div>
			<p>
				You received this email because you created an account.
			</p>

			<p>
				Authorization code is:
				{{code}}
			</p>

			<br />

			<p>
				If you did not create an account, please contact us.
			</p>
		</div>
	</body>
</html>
