doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Email Verification
	body
		div
			p You received this email because you created an account.
			p Authorization code is: #{code}
			br
			p If you did not create an account, no further action is required.
