<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Email verification code</title>
	</head>
	<body>
		<div>
			<p>
				Two-factor verification code.
				<br />
				Reason:
				{{reasonText}}
			</p>

			<p>
				Your code:
				{{code}}
			</p>

			<br />

			<p>
				This code will expire in 5 minutes.
				{{footerReasonText}}
			</p>
		</div>
	</body>
</html>
