use-lockfile-v6=false
public-hoist-pattern[]=eslint
public-hoist-pattern[]=prettier
public-hoist-pattern[]=@nestjs/common
public-hoist-pattern[]=@nestjs/core
public-hoist-pattern[]=@nestjs/terminus
public-hoist-pattern[]=@nestjs/serve-static
public-hoist-pattern[]=@nestjs/swagger
public-hoist-pattern[]=typeorm
public-hoist-pattern[]=pg
public-hoist-pattern[]=umzug
public-hoist-pattern[]=express
public-hoist-pattern[]=argon2
public-hoist-pattern[]=colors
public-hoist-pattern[]=swagger-ui-express
public-hoist-pattern[]=swagger-stats
